
.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
}

/* .productListImg {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
  } */

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #8aa290;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
}

.productListDelete{
    color: red;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
}
.productListImgProd {
    width: 52px;
    height: 52px;
    border-radius: 20%;
    object-fit: cover;
    font-family: 'Poppins';
    font-style: normal;
  }

